* {
    box-sizing: border-box;
   
}
#highscores {
    font-size: 30px;
    color: rgb(112, 112, 253);
    display: inline-block;
    height: auto;
    position: relative;
    padding: 5px;
}
#highscores:hover {
    color: rgb(44, 44, 253);
    font-size: 30px;
    cursor: grab;
}
#highscores:active {
    color: rgb(0, 0, 192);
    font-size: 30px;
    cursor: grabbing;
}
#time {
    font-size: 30px;
    height: auto;
    float: right;
    padding: 5px;
}
.container {
    height:400px;
    width: 60%;
    margin-top:20px;
    margin:auto;
    margin-bottom: 45px;
    position: relative;
    border: solid #000;
    border-width: 1 1px;
}
.start {
    background-color:yellow;
    padding: 30px;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
    border: solid #000;
    border-width: 1 1px;
}
.start:hover {
    background-color: rgb(230, 230, 117);
    cursor: grab;
  }
.start:active {
    background-color: rgb(255, 208, 0);
    font-size: 120%;
    cursor: grabbing;
  }
  .game {
      height:98%;
      width:98%;
      margin: .5% 1%;
      border: solid #000;
      border-width: 1 1px;
  }
  h1 {
      text-align: center;
      position: absolute;
      top:20%;
      width:70%;
      left:15%;
  }
  .questionContent {
      text-align: left;
      position: absolute;
      top:50%;
      width:80%;
      left:10%;
      font-size: 20px;
      line-height: 30px;
  }